body{
    background-color:rgb(117, 172, 255);
    margin-top:20px;
    margin-right:20px;
    margin-left:50px;
    margin-bottom:20px;

}
#form{
    display: grid;
    grid-template-columns: 2fr 8fr;
    
}